name: ci
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-slim
    timeout-minutes: 5
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup | Bun
        uses: ./.github/actions/setup-bun

      - name: Run | Lint
        run: bun run lint --max-warnings 0

  format:
    runs-on: ubuntu-slim
    timeout-minutes: 5
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup | Bun
        uses: ./.github/actions/setup-bun

      - name: Run | Format
        run: bun run format:check

  typecheck:
    runs-on: ubuntu-slim
    timeout-minutes: 5
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup | Bun
        uses: ./.github/actions/setup-bun

      - name: Run | Typecheck
        run: bun run typecheck
